body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
    color: white;
}

h1 {
    font-size: 100px;
    margin-top: 35px;
}

h2 {
    font-size: 65px;
    margin: 0;
}

button {
    padding: 6px 10px;
    font-size: 20px;
    width: 120px;
}

#pet-box{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#borderbox {
    border-style: dashed;
    padding: 60px 80px;
    border-radius: 20px;
}


